<html>
  <head>
    <meta charset="utf-8" />
    <title>Photobooth</title>

    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
