<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/gallery.css" />

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/masonry/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/imagesLoaded/imagesLoaded.pkgd.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" id="img_container">
            <div class="text-center">
                <h1>My first 6 weeks!</h1>
            </div>
        </div>
    </div>
</body>
</html>
